<% @buried_feelings.each do |buried_feeling| %>
<%= buried_feeling.content %>
<div>
  <%= simple_form_for buried_feeling, url: give_flower_feeling_path(buried_feeling), method: :patch do |f| %>
    <%= f.button :submit, "Give Flower!", class: "btn btn-warning btn-block"%>
  <% end %>
  </div>
  <%= buried_feeling.flowers %>
<% end %>

