<div class="graveyard-container">
  <div class="top-container">
    <h1 class="memorylane-title">
        Momory Lane
    </h1>
    <p>Here, you can meet all the animals<br> set to be free!</p>
  </div>
  <div class="graveyard">
    <!-- gravestone -->
    <% @buried_feelings.each do |buried_feeling| %>
      <div class="gravestone">
        <div class="thought-area">
        <%= buried_feeling.content %>
        <span class="date"><%= buried_feeling.created_at.strftime("%d %b %Y") %></span>
        </div>
      <%= render partial: "flower", locals: { buried_feeling: buried_feeling } %>
      </div>
    <% end %>
    <!-- /gravestone -->
  </div>
</div>
