<div class="container">
  <row>
    <div class="col-xs-12 top-animal-area">
      <%= image_tag 'title_img.png' %>
    </div>
  </row>
  <row>
    <%= render "form", feeling: @feeling %>
  </row>
</div>
