<div class="top-container">
  <div class="text-right">
    <button class="btn btn-primary" id="piggy-button"> Piggy </button>
  </div>
  <div class="text-right">
    <button class="btn btn-primary hidden" id="baku-button"> Baku </button>
  </div>

  <h1 class="logo-container"><%= image_tag 'title_img.png' %></h1>
  <div class="animal-container">
    <%= image_tag 'baku.png' %>
  </div>
</div>
<div class="form-container">
  <div id="baku-form">
    <%= render partial: "form", locals: { feeling: @feeling, is_baku: true } %>
  </div>
  <div class="hidden" id="piggy-form">
   <%= render partial: "form", locals: { feeling: @feeling, is_baku: false } %>
 </div>
</div>
