<div class="container">
  <row>
    <div class="text-right">
      <button class="btn btn-primary" id="piggy-button"> Piggy </button>
    </div>
  </row>
  <row class="text-center">
    <h2>PiggyBaku</h2>
  </row>
  <row class="text-center">
    <p>secret bank for sensitive people</p>
  </row>
  <%= render partial: "form", locals: { feeling: @feeling, is_baku: true } %>
  <%= render partial: "form", locals: { feeling: @feeling, is_baku: false } %>
</div>
