<div class="top-container">
  <h1 class="logo-container"><%= image_tag 'title_img.png' %></h1>
  <div class="animal-container">
    <%= image_tag 'baku.png' %>
  </div>
</div>
<div class="form-container">
    <%= render "form", feeling: @feeling %>
</div>
