<div class="container">
  <row class="text-center">
    <h2>PiggyBaku</h2>
  </row>
  <row class="text-center">
    <p>secret bank for sensitive people</p>
  </row>
  <%= render "form", feeling: @feeling %>
</div>
