<div class="yellow-header">
  <h2 class="font-bold-title">
    <span class="font-red">Thank you</span> for <span class="marker forgot">donating!</span><br>
  </h2>
</div>

<div class="piggy-img text-center">
  <%= image_tag 'pig.png', :class => "animated bounce"%>
</div>

<div class="link-button-wrapper text-center">
  <%= link_to 'bank activity', feelings_path, class: "font-round-title btn btn-blue" %>
</div>
