// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$black: #434343;
$yellow: #F5B740;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F0F0F0;
$pink: #F0866C;
