.action-name-buried {
  background: #dbdbdb;
  .top-container {
    text-align: center;
    color: #fff;
    height: 400px;
    h1 {
      padding-bottom: 10px;
    }
    p {
      padding:10px;
    }
    h1, p {
      font-family: 'Merriweather', serif;
    }
  }
  .graveyard-container {
    .graveyard-title {
      color: #fff;
      text-align: center;
    }
    .graveyard {
      width: 600px;
      margin: -100px auto 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .gravestone {
        width: 46%;
        margin-bottom: 10px;
        margin: 2em 0;
        color: #FFF;
        background: $light-gray;
        border-top: solid 20px #b3b3b3;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        font-family: 'Merriweather', serif;
        .thought-area {
        color: #b3b3b3;
        text-align:center;
        height: 200px;
        border: 1px solid #ddd;
        background: $light-gray;
        word-break: break-all;
        height: 300px;
        padding: 10px;
        border-radius: 6px;
        margin: 2px;
          .date {
            display:block;
            font-size: 14px;
          }
        }
        .icon-area {
          border: 1px solid #b3b3b3;
          border-top: 3px solid #b3b3b3;
          background: $light-gray;
          .like_feeling {
            display:flex;
            align-item: center;
            padding: 10px;
            color: #b3b3b3;
            font-size: 14px;
            &:hover {
              color: $pink;
              opacity: 0.8;
              text-decoration: none;
            }
            .icon {
              width: 30px;
              display:block;
              padding-right: 5px;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .action-name-buried {
    .graveyard-container {
      .graveyard {
        width: 96%;
        margin: -100px 2% 0;
        .gravestone {
          width: 48%;
        }
      }
    }
  }
}
