.action-name-confirmation {
  .toggle-animal-btn-container {
    display: none;
  }
  .title-confirmation {
  color : #fff;
  font-weight: bold;
  text-align: center;
  line-height: 1.25;
  margin-top: 0;
  }
  .animal-container {
    padding-bottom: 200px;
    #baku-img,#pig-img {
      figure {
        animation: fadeout 3s ease-in-out forwards alternate;
      }
    }
  }
  .payment-wrapper {
    position:absolute;
    top:-60px;
    .notice-container {
      margin: 30px 0;
      p {
        color: #fff;
        font-size: 21px;
        padding-left: 10px;
        text-indent: -10px;
        text-align: center;
        animation: notice-show 2s ease-in-out 2s 1 forwards;
        opacity: 0;
        i {
          margin-right: 5px;
        }
      }
    }
    .receipt {
      opacity:0;
      width: 300px;
      padding:20px;
      margin: 0 auto;
      color: #808080;
      background: #fff;
      opacity: 0;
      animation: receipt-show 2s ease-in-out 1.5s 1 forwards;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
      .receipt-content {
        padding-bottom: 20px;
        word-break: break-all;
        font-size: 16px;
      }
      h4 {
        text-align:center;
        font-weight: bold;
        span {
          font-weight: normal;
          font-size:16px;
        }
        &:before,&:after {
          content: '******************';
          display: block;
        }
      }
      .date {
        text-align:center;
        font-size: 16px;
      }
    }
  }
  .bottom-container {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px;

  }
}

@keyframes notice-show {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes receipt-show {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .action-name-confirmation {
    .bottom-container {
      width: 100%;
    }
  }
}

