.donation-type {
  padding: 15px;
  font-family: "Arial Rounded MT Bold";
  color: #808080;
  line-height: 1.5;
}

.npo-name {
  margin-top: 0px;
  margin-bottom: 28px;
  font-family: "Arial Rounded MT Bold";
  color: #808080;

}

.npo-image {
  padding: 15px;
}

.npo-description {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 60px;
  padding-left: 60px;
  font-family: "Arial Rounded MT Bold";
  color: #808080;
  line-height: 1.5;
}

.donate-amount {
  padding: 15px;
  font-family: "Arial Rounded MT Bold";
  color: #808080;
  line-height: 1.5;
}
