.record-container {
  width: 960px;
  margin: 0 auto;
  h2.font-round-title {
    background: #808080;
    color: #fff;
    margin:0;
    padding: 10px 0;
    text-align: center;
  }
}

.donation-header {
  background: $yellow;
  padding: 10px 10px 125px;
}

.donation-type {
  font-family: "Arial", "Roboto", "sans-serif";
  color: #808080;
  line-height: 1.5;
  // margin-top: -30px;
}

.npo-name {
  margin-top: 0px;
  margin-bottom: 28px;
  font-family: "Arial", "Roboto", "sans-serif";
  color: #808080;

}

.npo-image {
  padding: 15px;
  margin-top: -110px;
  margin-bottom: 20px;
}

.npo-description {
  padding-right: 60px;
  padding-left: 60px;
  font-family: "Arial", "Roboto", "sans-serif";
  color: #808080;
  line-height: 1.5;
  font-weight: lighter;
}

.donate-amount {
  padding: 15px;
  font-family: "Arial Rounded MT Bold";
  color: #808080;
  line-height: 1.5;
}

.slide-in.span.animated {
  animation-duration: 10.0s;
}

.stripe-button-el span {
background: none transparent!important;
background-image: none!important;
font-size: 1em!important;
font-family: "Arial Rounded MT Bold"!important;
box-shadow: none!important;
font-weight: 400!important;
}

.stripe-button-el {
background: $light-blue!important;
background-image: none $light-blue!important;
-webkit-border-radius: 2px!important;
-moz-border-radius: 2px!important;
border-radius: 2px!important;
border-color: $light-blue!important;
padding: 4px 12px!important;
box-shadow: none!important;
}

.stripe-button-el:hover,
.stripe-button-el span:hover {
background: $pink!important;
background-image: none $pink!important;
border-color: $pink!important;
}

