.top-container {
  // height: calc(40vh - 67px);
  height: 300px;
  h1 {
    margin-top: 0;
  }
  background: $yellow;
  .logo-container {
    width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 10px;
    position: relative;
    .fa-angle-double-left {
      color: $red;
      position:absolute;
      transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      &.arrow-baku {
      top: 91px;
      right: -10px;
      }
      &.arrow-pig {
      top: 30px;
      right: -10px;
      }
    }
    img {
      width: 100%;
    }
  }
}

.animal-container {
  width: 280px;
  margin: -95px auto 0;
  img {
    width: 100%;
  }
}

.hidden {
  visibility: hidden;
}
