.controller-name-feelings.action-name-index{
  .wrapper {
    // background: $yellow;
    outline: none;
  }
}
.action-name-index {
  .bankactivity-wrapper {
    .chart-container {
      padding: 10px;
    }
  }
  .chart-container {
    margin-top: -50px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    .horizontal {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .animal-img {
      width: 10%;
      img {
        width: 100%;
      }
    }
    .anima-total {
      width: 10%;
      font-size: 30px;
    }
  }
  .summary-container {
    background: $yellow;
    padding: 10px 10px 60px;
    .font-bold-title {
    line-height: 1.5;
    }
    .marker {
      padding: 0 10px;
      &.forgot {
        background: linear-gradient(transparent 60%, $light-blue 60%);
      }
      &.stored {
        background: linear-gradient(transparent 60%, $pink 60%);
      }
    }
  }
  .record-container {
    position:relative;
    width: 960px;
    margin: 0 auto;
    // z-index:0;
    .record-wrap {
      &.onhidden {
        height:425px;
        overflow-y:hidden;
      }
      .readmore{
        position:absolute;
        bottom:0;
        width:100%;
        padding:20px 0;
        text-align:center;
        background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgba(255, 255, 255, 0.5), white) repeat scroll 0 0;
        font-weight:bold;
        cursor:pointer;
        z-index:999;
        border-radius: 5px;
        padding:5px 30px;
        color:$gray;
        i {
          padding-left: 5px;
        }
      }
      h2.font-round-title {
        background: #808080;
        color: #fff;
        margin:0;
        padding: 10px 0;
        text-align: center;
      }
      .total-money {
        padding: 20px 20px 0 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .action-name-index {
    .bankactivity-wrapper {
      width: 100%;
      .chart-container {
        .animal-img {
          width: 20%;
        }
      }
      .record-container {
        width: 100%;
      }
    }
  }
}
