// Import page-specific CSS files here.
@import "home";
@import "feelingsnew";

.wrapper {
  margin: 0 auto;
  width: 960px;
  height: 100vh;
  background: $light-gray;
  outline: 2px dotted #fff;
  outline-offset: -5px;
}

.alert {
  border: none;
  border-radius: 0;
}

.font-round-title {
  font-family: "Arial Rounded MT Bold";
  font-size: 22px;
  color: $gray;
  line-height: 1.5;
  margin-top: 0;
  .font-red {
    color: $red;
  }
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
    height: 100vh;
  }
}
