// Import page-specific CSS files here.
@import "home";
@import "feelingsnew";
@import "confirmation";
@import "feelingsindex";
@import "donationnew";
// @import "buried";
@import "thankyou";
@import "memory";


ul li {
  list-style: none;
}

body {
  background: $light-gray;
}
.wrapper {
  padding-bottom: 50px;
}

.alert {
  border: none;
  border-radius: 0;
}

.font-bold-title {
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}

.font-red {
  color: $red;
}
.font-pink {
  color: $pink;
}
.font-light-blue {
  color: $light-blue;
}

.font-round-title {
  font-family: "Arial Rounded MT Bold";
  font-size: 22px;
  color: $gray;
  line-height: 1.5;
  margin-top: 0;
}
