.action-name-memory {
  background: #dbdbdb;
  nav {
    background: $light-blue;
  }
  .top-container {
    background: $light-blue;
    text-align: center;
    color: #fff;
    height: 400px;
    .memorylane-title {
      font-size: 35px;
      padding: 10px;
      background: #559d8c;
      width: 80%;
      margin: 0 10%;
      border: 5px solid #fff;
      border-radius: 5px;
    }
    p {
      padding:10px;
    }
  }
  .graveyard-container {
    .graveyard-title {
      color: #fff;
      text-align: center;
    }
    .graveyard {
      width: 600px;
      margin: -100px auto 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .gravestone {
        width: 100%;
        margin-bottom: 10px;
        margin: 2em 0;
        color: #FFF;
        .thought-area {
        color: #b3b3b3;
        text-align:center;
        height: 200px;
        background: $light-gray;
        word-break: break-all;
        height: 300px;
        padding: 10px;
          .date {
            display:block;
            font-size: 14px;
          }
        }
        .icon-area {
          background: $light-gray;
          .like_feeling {
            display:flex;
            align-item: center;
            padding: 10px;
            color: #b3b3b3;
            font-size: 14px;
            &:hover {
              color: $pink;
              opacity: 0.8;
              text-decoration: none;
            }
            .icon {
              width: 30px;
              display:block;
              padding-right: 5px;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .action-name-memory {
    .graveyard-container {
      .graveyard {
        width: 96%;
        margin: -100px 2% 0;
      }
    }
  }
}
