body.action-name-memory {
  background: $light-gray;
      background-image: image-url("grass.png");
}
.action-name-memory {
  background: #dbdbdb;
  nav {
    background: $yellow;
  }
  .memorylane-page {
    .top-container {
      background: $yellow;
      text-align: center;
      color: #fff;
      p {
        padding:10px;
      }
    }
    .memorylane-title {
      font-size: 35px;
      padding: 10px;
      background: #559d8c;
      width: 80%;
      margin: 0 10%;
      border: 5px solid #fff;
      border-radius: 5px;
    }
    .memory-lane-area {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: -100px;
      .memory-container {
        width: 650px;
        margin: 0 auto;
        .thought-container {
          background: #fff;
          position: relative;
          border-radius: 10px;
          &:before {
            content: "";
            position: absolute;
            right: 24px;
            width: 20px;
            height: 18px;
            bottom: -10px;
            background: #fff;
            border-radius: 50%;
          }
          &:after {
            content: "";
            position: absolute;
            right: 38px;
            width: 20px;
            height: 18px;
            bottom: -30px;
            background: #fff;
            border-radius: 50%;
          }
        .thought-area {
          width: 250px;
          padding: 10px;
          .thought {
            color: #808080;
            text-align:center;
            overflow: scroll;
            height: 50px;
            word-break: break-all;
          }
          .date {
            color: #808080;
            display:block;
            font-size: 14px;
          }
        }
        .icon-area {
          .flower_feeling {
            display:flex;
            align-item: center;
            padding: 10px;
            color: $pink;
            font-size: 14px;
            &:hover {
              color: $red;
              opacity: 0.8;
              text-decoration: none;
            }
            .icon {
              width: 30px;
              display:block;
              padding-right: 5px;
              img {
                width: 100%;
              }
            }
          }
        }
        }
      }
    }
  }
}
.pig-front figure svg {
    width: 250px;
    padding: 20px 0;
}
.baku-front {
  figure {
      svg {
      width: 250px;
      padding: 0 20px;
      }
  }
  #bakuEatAnime {
     display: inline-block;
     overflow: visible;
  }
  #head {
      animation: headmove 1.5s ease-in-out infinite alternate;
  }
  #tail {
      transform-origin: 100% 0%;
      animation: tailmove 1.5s ease-in-out 0s infinite alternate;
  }


  @keyframes headmove {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    50% {
      transform:translateX(5px) translateY(-5px) rotate(10deg);
    }
  }
  @keyframes tailmove {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    50% {
      transform: translate(5%, 5%) rotate(20deg);
    }
  }
}

@media (max-width: 480px) {
  .action-name-memory {
    .memorylane-page {
      .memory-lane-area {
        .memory-container {
          width: 250px;
          margin: 0 auto;
        }
      }
    }
  }
}
