.yellow-header {
  background: $yellow;
  padding: 50px;
  padding-bottom: 125px;
}

.piggy-img-container {
  margin-top: -120px;
  .piggy-img {
    width: 50%;
    margin: 0 25%;
  }

}

.link-button-wrapper {
  padding: 60px;
}
