form.new_user .user_password .form-text {
margin: 0px 0px 0px 16px;
color: #b3b3b3;
}

form.new_user .user_password_confirmation .form-text {
margin: 0px 0px 0px 16px;
color: #b3b3b3;
}

form.edit_user .user_password .form-text {
margin: 0px 0px 0px 16px;
color: #b3b3b3;
}

form.edit_user .user_password_confirmation .form-text {
margin: 0px 0px 0px 16px;
color: #b3b3b3;
}

form.edit_user .user_current_password .form-text {
margin: 0px 0px 0px 16px;
color: #b3b3b3;
}

