
<% @negative_feelings.each do |feeling| %>
<div class="message">
  <div class="message-name">
    <h3>date</h3>
    <p><%= feeling.created_at.strftime("%d %b %y") %></p>
  </div>
  <div class="message-body">
    <p><strong>icone forgot / not forgot</strong></p>
    <p>
      <%= feeling.content %>
    </p>
  </div>
  <div class="message-status">
    <p class="status pending">icon</p>
    <p class="price"><%= feeling.price_cents %></p>
  </div>
</div>

<% end %>
