<div class="toggle-animal-btn-container toggle-animal-btn-container">
  <div class="button animated bounce" id="piggy-button"><%= image_tag 'pig.png' %></div>
  <div class="button animated bounce hidden" id="baku-button"><%= image_tag 'baku.png' %></div>
</div>
