<div class="toggle-animal-btn-container toggle-animal-btn-container animated bounceIn">
  <div class="button" id="piggy-button"><%= image_tag 'pig_nav_icon.png' %></div>
  <div class="button hidden" id="baku-button"><%= image_tag 'baku_nav_icon.png' %></div>
</div>
