<div class="top-container">
  <h1 class="logo-container contact-top">
      Team PiggyBaku
  </h1>
</div>
<div class="container">
  <div id="about">
    <div class="about-content">
      <ul class="list-inline" id="team">
          <li>
              <%= image_tag "team/tomomi.png", class: "img-style" %>
            <h2>Tomomi Shiba</h2>
            <p>
              <a href="https://github.com/tomcana" target="_blank">
                <i class="fab fa-github"></i> tomcana
              </a>
            </p>
          </li>
          <li>
              <%= image_tag "team/josias.png", class: "img-style" %>
            <h2>Josias Geoffroy</h2>
            <p>
              <a href="https://github.com/Josias080" target="_blank">
                <i class="fab fa-github"></i> Josias080
              </a>
            </p>
          </li>
          <li>
              <%= image_tag "team/law.png", class: "img-style" %>
            <h2>Law Weining</h2>
            <p>
              <a href="https://github.com/JLawWN" target="_blank">
                <i class="fab fa-github"></i> JLawWN
              </a>
            </p>
          </li>
          <li>
              <%= image_tag "team/yuki.png", class: "img-style" %>
            <h2>Yuki Kaito</h2>
            <p>
              <a href="https://github.com/ykaito21" target="_blank">
                <i class="fab fa-github"></i> ykaito21
              </a>
            </p>
          </li>
      </ul>
    </div>
  </div>
  <div class="contact">
    <p>For Further Info</p>

    <p>
      <a href="mailto:contact@piggybaku.com">Email us : contact@piggybaku.com </a>
    </p>
  </div>
</div>
