.btn:hover {
  opacity: 0.7;
}
.btn.font-round-title {
  color: #fff;
}
.btn-pink {
  background: $pink;
}
.btn-blue {
  background: $light-blue;
}

.controller-name-feelings {
  .btn {
    width: 60%;
    margin-top: 20px;
  }
}

#baku-button:hover {
  opacity: 0.7
}

#piggy-button:hover {
  opacity: 0.7
}
