.record-container {
    color: #808080;
    border-radius: 5px;
  .record-wrap {
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  }
  .record {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #fff;
    font-size: 16px;
    border-bottom: 1px solid $light-gray;
    &:nth-of-type(even) {
      background: #f5f5f5;
    }
    &:hover {
      text-decoration: none;
      color: #4d4d4d;
    }
    .flag {
      display: block;
      border-radius: 3px;
      background: #000;
      text-align: center;
      width: 60px;
      color: #fff;
      font-size: 12px;
      &.stored{
        background: $pink;
      }
      &.forgot{
        background: $light-blue;
      }
    }
    .record-date{
      flex:1;
      font-size: 14px;
    }
    .record-status {
      flex:1;
    }
    .record-body {
      flex:3;
    }
  }
}

.clickable {
  cursor: pointer;
}

.icon{
  padding: 4px;
  .flower-icon {
    width: 16px;
  }
}


.modal-header {
  background-color: $yellow;
  color: white;
  height: 56px;
}

.modal-footer {
  background-color: #999999;
  color: #4b4b4b;
  form{
    display: inline-block;
    padding-right: 6px;
  }
  button{
    background-color: #999999;
    border: none;
    display: inline-block;
  }
  .fas {
    color: #4b4b4b;
    opacity: 0.5;
  }
  .far {
    color: #4b4b4b;
    opacity: 0.5;
  }
  .fas:hover {
    opacity: 1.0;
  }
  .far:hover {
    opacity: 1.0;
  }
  .grave-icon {
  width: 20.25px;
  color: #4b4b4b;
  opacity: 0.6;
  display: inline-block;
  margin-right: 45px;
  }
  .grave-icon:hover {
    opacity: 1.0;
  }
}

.close {
  display: none;
}


