.form-container {
  padding-top: 20px;
  width: 600px;
  margin: 0 auto;
}
.form-control {
  height: 55px;
  border-radius: 6px;
}
.font-round-title {
  font-family: "Arial Rounded MT Bold";
  font-size: 22px;
  color: $gray;
  .font-red {
    color: $red;
  }
}
.form-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  margin: 0 5% 3%;
  .text-area {
    width: 90%;
  }
  .price-area {
    width: 30%;
  }
    .fas {
    color: gray;
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  .form-container {
    width: 100%;
  }
}
