#nav-drawer {
  position:relative;
}
.toggle-animal-btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $light-gray;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  right: 5px;
  top: 5px;
    .hidden {
    visibility: hidden;
  }
  .button {
    width: 65px;
    img {
      width: 100%;
      opacity: 1;
    }
  }
  #baku-button {
    margin-top: -15px;
  }
  #pig-button {
    // margin-top: -15px;
  }
}
