#nav-drawer {
  position:relative;
}
.toggle-animal-btn-container {
  position: absolute;
  right: 10px;
  top: 10px;
    .hidden {
    visibility: hidden;
  }
  .button {
    width: 63px;
    img {
      width: 100%;
      opacity: 0.5;
    }
  }
}
